<app-main-table-widget
  [title]="'Glasses List'">
  <app-add-item-button
    class="new-item"
    [routeUrl]="'/cocktails/glasses/new'">
  </app-add-item-button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th> Glass Name</th>
      </tr>
    </thead>
    <tbody *ngIf="isLoading">
      <tr>
        <app-spinner>
        </app-spinner>
      </tr>
    </tbody>
    <tbody *ngIf="!isLoading">
      <tr *ngFor="let glass of glasses; index as i">
        <th>{{i + 1}}</th>
        <th>{{glass.strGlass}}</th>
      </tr>
    </tbody>
  </table>
</app-main-table-widget>
