<div class="container">
  <div class="row product-list-title">
    <div class="col-10 title">
      Glasses List
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['/products/new']"
        routerLinkActive="router-link-active">
        New Glass
      </button>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th> Glass Name</th>
        </tr>
      </thead>
      <tbody *ngIf="isLoading">
        <tr>
          <app-spinner>
          </app-spinner>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading">
        <tr *ngFor="let glass of glasses; index as i">
          <th>{{i + 1}}</th>
          <th>{{glass.strGlass}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
