.uppper-container {
  padding: 1rem 0rem;
  .title {
    font-size: 1.5rem;
  }
}
.table-container {
  height: 50rem;
  position: relative;
  overflow: scroll;
  border-style: solid;
  border-width: 0.05rem;
  border-color: #dae0e5;
  border-radius: 8px;
}
